*{
    box-sizing: border-box;
    margin: 0 auto ;
}
#a1{
    width: 1300px;
    height: 800px;
    border: 1px solid black;
    background-color: rgb(89, 177, 250);
    
}
header{
    width: 100%;
    height: 70px;
    border-bottom: 6px dotted white;
}
section{
    width: 100%;
    height: 650px;
    border-bottom: 6px dotted white;
}
footer{
    width: 100%;
    height: 72px;
}
#a2>a{
    padding-left: 50px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
#a2{
    padding-top: 15px;
}
/* #a3{
    position: relative;
    position: absolute;
} */
img{
   
    width: 90%;
    
}
h3{
    padding-top: 20px;
    margin-left: 10px;
    font-size: 40px;
    color: white;

}
#a3>p{
    margin-left: 10px;
    padding-top: 15px;
    color: white;
    font-size: 25px;

}
h4{
    text-shadow: 3px 3px 4px blue;
    padding-left: 140px;
    font-size: 30px;
    color: blue;
    padding-top: 10px;
}
article{
    /* border: 1px solid black; */
    width: 50%;
    height: 580px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    padding-top: 10px;
}
td{
    color: white;
    font-size: 20px;
    padding-top: 5px;
}
